.main-content {
  width: 100%;
  background: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 100px;
}
.main-content .content {
  width: 1090px;
  margin: 0 auto;
  /*! content-left*/
}
.main-content .content .content-left {
  float: left;
  width: 253px;
}
.main-content .content .content-left .left-title {
  height: 48px;
  line-height: 48px;
  color: #404040;
  padding-left: 30px;
  font-size: 18px;
  border-left: 5px solid #c69a62;
  background: #fff;
}
.main-content .content .content-left .left-product-classify {
  background: #fff;
  margin-bottom: 26px;
}
.main-content .content .content-left .left-product-classify .product-list {
  background: #e8e6e7;
  border-top: 1px dotted #f2f2f2;
  position: relative;
  cursor: pointer;
  min-height: 50px;
  line-height: 50px;
}
.main-content .content .content-left .left-product-classify .product-list i {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background: url(../images/icon-jt.png) no-repeat -16px 0;
  margin-left: 8px;
}
.main-content .content .content-left .left-product-classify .product-list a {
  color: #565d67;
  margin-left: 10px;
}
.main-content .content .content-left .left-product-classify .product-list ul {
  display: none;
  background: #fff;
  z-index: 1;
  width: 100%;
  padding: 10px 0 15px 0;
}
.main-content .content .content-left .left-product-classify .product-list ul li {
  text-indent: 26px;
  line-height: 30px;
  width: 150px;
}
.main-content .content .content-left .left-product-classify .product-list ul li span {
  display: inline-block;
  width: 8px;
  height: 10px;
  margin-right: 5px;
  background: url(../images/icon-jt.png) -74px -3px no-repeat;
}
.main-content .content .content-left .left-product-classify .product-list ul li a:hover {
  color: #c69a62;
}
.main-content .content .content-left .left-product-classify .product-list ul li a:hover span {
  background-position: -88px -3px;
}
.main-content .content .content-left .left-product-classify .active {
  background: #fff;
}
.main-content .content .content-left .left-product-classify .active i {
  background-position: 0 0;
}
.main-content .content .content-left .left-history {
  font-size: 16px;
  padding-left: 12px;
  border-bottom: 1px solid #ebebeb;
}
.main-content .content .content-left .left-history-list li {
  height: 69px;
  border-top: 1px dashed #d4d4d4;
  background: #fff;
  padding: 20px 10px;
  margin-top: -1px;
}
.main-content .content .content-left .left-history-list li a img {
  height: 69px;
  width: 69px;
  display: inline-block;
  float: left;
}
.main-content .content .content-left .left-history-list li .left-history-list-detail {
  margin-left: 79px;
}
.main-content .content .content-left .left-history-list li .left-history-list-detail .left-history-list-detail-name {
  width: 100%;
  line-height: 20px;
}
.main-content .content .content-left .left-history-list li .left-history-list-detail .left-history-list-detail-name a {
  color: #3e3e3e;
}
.main-content .content .content-left .left-history-list li .left-history-list-detail .left-history-list-detail-price {
  color: #EC3E7D;
}
.main-content .content .content-left .left-history-list li .left-history-list-detail .left-history-list-detail-price i {
  font-size: 12px;
  color: #959595;
  margin-left: 10px;
}
.main-content .content .content-right {
  float: right;
  width: 811px;
}
.main-content .content .content-right .filter {
  margin-bottom: 10px;
  font-size: 12px;
}
.main-content .content .content-right .filter .has-selected {
  border-bottom: 1px solid #d7d7d7;
  padding: 10px 0;
  background: #fff;
}
.main-content .content .content-right .filter .has-selected dl {
  float: left;
}
.main-content .content .content-right .filter .has-selected dl dt {
  text-indent: 16px;
  width: 115px;
  float: left;
  color: #8d8d8d;
}
.main-content .content .content-right .filter .has-selected dl dd {
  width: 70%;
  float: left;
}
.main-content .content .content-right .filter .has-selected a {
  float: right;
  color: #C69A62;
  margin-right: 16px;
}
.main-content .content .content-right .filter .been-selected {
  width: 140px;
  padding-top: 5px;
  display: inline-block;
}
.main-content .content .content-right .filter .been-selected .been-selected-content {
  border: 1px solid #c69a62;
  padding: 0 4px 0 8px;
  border-radius: 12px;
  display: inline-block;
  line-height: 20px;
}
.main-content .content .content-right .filter .been-selected .been-selected-content .been-selected-name {
  color: #C69A62;
  float: left;
  max-width: 107px;
}
.main-content .content .content-right .filter .been-selected .been-selected-content .been-selected-exit {
  color: #C69A62;
  float: right;
  margin-left: 10px;
}
.main-content .content .content-right .filter .filter-list {
  background: #fff;
}
.main-content .content .content-right .filter .filter-list .filter-list-title {
  width: 118px;
  padding-top: 6px;
  text-indent: 16px;
  float: left;
  color: #8d8d8d;
}
.main-content .content .content-right .filter .filter-list .filter-list-name {
  width: 70%;
  float: left;
}
.main-content .content .content-right .filter .filter-list .filter-list-name span {
  padding-top: 6px;
  display: inline-block;
  width: 140px;
  height: 27px;
}
.main-content .content .content-right .filter .filter-list .filter-list-name span a {
  color: #333;
}
.main-content .content .content-right .filter .filter-list .classify-list, .main-content .content .content-right .filter .filter-list .classify-brand, .main-content .content .content-right .filter .filter-list .classify-fit, .main-content .content .content-right .filter .filter-list .classify-effect, .main-content .content .content-right .filter .filter-list .classify-label, .main-content .content .content-right .filter .filter-list .classify-discount {
  padding: 6px 0;
  border-bottom: 1px solid #e9e9e9;
  line-height: 20px;
}
.main-content .content .content-right .filter .filter-list .classify-list .get-more, .main-content .content .content-right .filter .filter-list .classify-brand .get-more, .main-content .content .content-right .filter .filter-list .classify-fit .get-more, .main-content .content .content-right .filter .filter-list .classify-effect .get-more, .main-content .content .content-right .filter .filter-list .classify-label .get-more, .main-content .content .content-right .filter .filter-list .classify-discount .get-more {
  float: right;
  padding-top: 5px;
  margin-right: 10px;
}
.main-content .content .content-right .filter .filter-list .classify-list .get-more a, .main-content .content .content-right .filter .filter-list .classify-brand .get-more a, .main-content .content .content-right .filter .filter-list .classify-fit .get-more a, .main-content .content .content-right .filter .filter-list .classify-effect .get-more a, .main-content .content .content-right .filter .filter-list .classify-label .get-more a, .main-content .content .content-right .filter .filter-list .classify-discount .get-more a {
  color: #C69A62;
}
.main-content .content .content-right .filter .filter-list .classify-brand .get-more {
  float: right;
  padding-top: 5px;
  margin-right: 10px;
}
.main-content .content .content-right .filter .filter-list .classify-brand .get-more a {
  color: #C69A62;
}
.main-content .content .content-right .filter .filter-list .classify-fit {
  display: none;
}
.main-content .content .content-right .filter .filter-list .classify-effect {
  display: none;
}
.main-content .content .content-right .filter .filter-list .classify-label {
  display: none;
}
.main-content .content .content-right .filter .filter-list .muilt {
  float: right;
  border: 1px solid #e9e9e9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 6px 2px 6px;
  margin-top: -7px;
  margin-right: 10px;
}
.main-content .content .content-right .filter .filter-list .muilt a {
  color: #b4b5b8;
}
.main-content .content .content-right .filter .show-more {
  height: 30px;
  background: #fff;
}
.main-content .content .content-right .filter .show-more .show-more-content {
  float: right;
  margin-right: 10px;
}
.main-content .content .content-right .filter .show-more .show-more-content a {
  color: #3e3e3e;
}
.main-content .content .content-right .filter .show-more .show-more-content .show-more-content-in {
  display: none;
}
.main-content .content .content-right .sortbar {
  height: 30px;
  margin-bottom: 25px;
  font-size: 12px;
  background: #fff;
  line-height: 30px;
}
.main-content .content .content-right .sortbar ul {
  float: left;
}
.main-content .content .content-right .sortbar ul li {
  padding: 0 25px;
  float: left;
  border-right: 1px solid #f1f1f1;
  cursor: pointer;
}
.main-content .content .content-right .sortbar ul .active {
  color: #bf9b5f;
}
.main-content .content .content-right .sortbar .special-offer {
  float: left;
  margin-left: 25px;
}
.main-content .content .content-right .sortbar .special-offer input {
  vertical-align: middle;
}
.main-content .content .content-right .sortbar .product-number {
  margin: 0 15px 0 25px;
  color: #818284;
  float: left;
}
.main-content .content .content-right .sortbar .page-action {
  float: right;
  line-height: 18px;
  padding-top: 6px;
  margin-right: 16px;
}
.main-content .content .content-right .sortbar .page-action .left-page-btn, .main-content .content .content-right .sortbar .page-action .right-page-btn {
  display: inline-block;
  height: 18px;
  width: 18px;
  background: #f5f5f5;
  border-radius: 10px;
  vertical-align: middle;
  position: relative;
}
.main-content .content .content-right .sortbar .page-action .left-page-btn:after, .main-content .content .content-right .sortbar .page-action .right-page-btn:after {
  content: "";
  display: block;
  border-right: 4px solid #ccc;
  border-top: 4px solid  transparent;
  border-bottom: 4px solid transparent;
  height: 0;
  width: 0;
  left: 6px;
  top: 5px;
  position: absolute;
}
.main-content .content .content-right .sortbar .page-action .right-page-btn:after {
  border-right: none;
  border-left: 5px solid #ccc;
}
.main-content .content .content-right .product-gallery {
  width: 811px;
  padding-bottom: 60px;
  min-height: 450px;
}
.main-content .content .content-right .product-gallery .product-gallery-list {
  width: 850px;
  margin-left: -25px;
  padding-bottom: 22px;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item {
  margin: 0 0 25px 26px;
  height: 485px;
  width: 253px;
  background: #fff;
  float: left;
  position: relative;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content {
  background: #fff;
  height: 485px;
  width: 253px;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-listImg {
  height: 253px;
  width: 100%;
  position: relative;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-listImg .formal dl {
  position: absolute;
  top: 0;
  height: 253px;
  overflow: hidden;
  display: none;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-listImg .formal dl dd {
  height: 84px;
  width: 83px;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-listImg .formal dl dd img {
  height: 84px;
  width: 84px;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-listImg .formal dl .left-border {
  border-left: 1px solid #e0e0e0;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-listImg .formal dl .right-border {
  border-right: 1px solid #e0e0e0;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-listImg .formal dl .active {
  border: 4px solid #C69A62;
  height: 76px;
  width: 76px;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-listImg .formal dl .active img {
  margin-top: -4px;
  margin-left: -3px;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-listImg .product-pic {
  height: 253px;
  width: 253px;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-listImg .product-pic a img {
  margin: 0 auto;
  height: 253px;
  width: auto;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-listImg .product-pic .label-source {
  position: absolute;
  right: 5px;
  top: 5px;
  line-height: 22px;
  color: #98999b;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-listImg .product-pic .label-source img {
  height: 22px;
  width: 22px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-price {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-price .current-price {
  font-size: 24px;
  margin-right: 10px;
  color: #ec3e7d;
  float: left;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-price .old-price {
  color: #858587;
  text-decoration: line-through;
  float: left;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-price .discount {
  float: right;
  color: #C69A62;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-detail {
  padding: 10px 15px;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-detail .product-gallery-item-detail-name {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 600;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-detail .product-gallery-item-detail-name a {
  color: #3e3e3e;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-detail .product-gallery-item-detail-subname {
  height: 40px;
  line-height: 20px;
  font-size: 12px;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-detail .product-gallery-item-detail-subname a {
  color: #404040;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-detail .product-gallery-item-detail-guige {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .product-gallery-item-detail .product-gallery-item-detail-guige a {
  color: #404040;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .add-carts {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
}
.main-content .content .content-right .product-gallery .product-gallery-list .product-gallery-item .product-gallery-item-content .add-carts a {
  display: block;
  width: 100%;
  height: 43px;
  text-align: center;
  width: 223px;
  margin: 0 auto;
  background: #EC3E7D;
  color: #fff;
  font-size: 18px;
  line-height: 43px;
}
.main-content .content .content-right .product-gallery .product-gallery-list .next-page {
  margin: 0 0 25px 26px;
  height: 485px;
  width: 253px;
  background: #fff;
  float: left;
  position: relative;
}
.main-content .content .content-right .product-gallery .product-gallery-list .next-page b {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #f2f2f2 url(../images/tips.png) no-repeat -308px -192px;
  width: 72px;
  height: 36px;
}
.main-content .content .content-right .product-gallery .product-gallery-list .next-page a {
  display: block;
}
.main-content .content .content-right .product-gallery .product-gallery-list .next-page a i {
  display: block;
  width: 111px;
  height: 111px;
  margin: 140px auto 50px;
  background: url(../images/tips.png) no-repeat -150px -361px;
}
.main-content .content .content-right .product-gallery .product-gallery-list .next-page a .next-page-btn {
  line-height: 35px;
  text-align: center;
  color: #C69A62;
  font-size: 24px;
}
.main-content .content .content-right .product-gallery .product-gallery-list .next-page a .next-page-info {
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  color: #cacaca;
}
.main-content .content .content-right .pageview {
  padding: 0 0 30px;
  text-align: right;
  font-size: 12px;
  line-height: 20px;
}
.main-content .content .content-right .pageview .active {
  color: #EC3E7D;
  border-color: #EC3E7D;
}
.main-content .content .content-right .pageview a:hover {
  color: #EC3E7D;
  border-color: #EC3E7D;
}
.main-content .content .content-right .pageview a {
  padding: 0 7px;
  margin-left: 5px;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 14px;
  font-size: 12px;
}
